<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="./assets/nexus-logo2.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus PunkTech - Coming Soon</title>
    <style>
      body {
        background: #021933ff;
        color: #fff;
        font-family: sans-serif;
        text-align: center;
        padding-top: 100px;
      }
      
      h1 {
        font-size: 60px;
        margin-bottom: 40px;
      }
      img {
        display: block;
        margin: 0 auto;
        width: auto;
      }
      /* Links */
      a {
        transition: color 0.3s;
        text-decoration: none;
      }
      a:hover {
        color: #666;
      }
      /* Layout */
      header,
      footer {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      .linkedin {
        width: 5%;
        cursor: grab;
      }
      
      footer {
        text-align: center;
      }
      footer {
        font-size: 12px;
        margin-top: 40px;
      }
      footer p {
        font-size: 14px;
      }
      
      footer a {
        color: grey;
      }
      
      /* Responsive */
      @media (max-width: 600px) {
        h1 {
          size-adjust: auto;
        }
        image {
          size-adjust: auto;
        }
        p {
          font-size: 16px;
        }
      }
    </style>
  </head>
  <body>
    <h1>We Are Launching Soon</h1>
    <img src="https://nexuspunktech.agency/assets/nexus-logo.png" alt="Nexus PunkTech Logo" />
    <footer>
      <!-- Contact details -->
      <a href="https://www.linkedin.com/in/damien-murphy-814a43249" target="_blank"><img class="linkedin" src="https://nexuspunktech.agency/assets/linkedin-white.png" alt="LinkedIn white Logo" /></a>
      <p>
        <a href="mailto:damien@nexuspunktech.agency">damien@nexuspunktech.agency</a>
        <br /><br />
        Phone: +44 7784 371794<br />
      </p>

      <br />
      <!-- credit -->
      <p>
        Site Made by <a href="https://designrise.co.uk">DesignRise</a>
      </p>&copy; Nexus Punk Tech 2023
    </footer>
  </body>
</html>
